.logo {
display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 24px;
}
.Studio {
        width: 48px;
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.Portfolio {
        width: 66px;
        height: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.Contacts {
    width: 67px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.Gmail {
    position: absolute;
        width: 153px;
        height: 24px;
        left: 940px;
        top: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
.Number {
    position: absolute;
        width: 151px;
        height: 24px;
        left: 1133px;
        top: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
/* Button  */
.ALL {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
    
        width: 69px;
        height: 48px;
        background: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        flex: none;
        order: 0;
        flex-grow: 0;
}
.Web-Site {
    box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 116px;
        height: 48px;
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        flex: none;
        order: 1;
        flex-grow: 0;
}
.App {
    box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 78px;
        height: 48px; 
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        flex: none;
        order: 2;
        flex-grow: 0;
}
.Design {
    box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 101px;
        height: 48px;
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        flex: none;
        order: 3;
        flex-grow: 0;
}
.Marketing {
    box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        width: 126px;
        height: 48px;
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        flex: none;
        order: 4;
        flex-grow: 0;
}
.Banking {
    box-sizing: border-box;
        position: absolute;
        width: 360px;
        height: 420px;
        left: 156px;
        top: 288px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Cashless {
    box-sizing: border-box;
        position: absolute;
        width: 360px;
        height: 420px;
        left: 540px;
        top: 288px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Meditation {
    box-sizing: border-box;
        position: absolute;
        width: 360px;
        height: 420px;
        left: 924px;
        top: 288px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Taxi {
    box-sizing: border-box;
        position: absolute;
        width: 360px;
        height: 420px;
        left: 156px;
        top: 756px;
        background: #FFFFFF;
}
.Screen {
    box-sizing: border-box;
    
        position: absolute;
        width: 360px;
        height: 420px;
        left: 540px;
        top: 756px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Online {
    box-sizing: border-box;   
        position: absolute;
        width: 360px;
        height: 420px;
        left: 924px;
        top: 756px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Instagram-Stories {
    box-sizing: border-box;
    
        position: absolute;
        width: 360px;
        height: 420px;
        left: 156px;
        top: 1224px;
        background: #FFFFFF;
        border: 1px solid #E7E9FC;
}
.Organic {
    box-sizing: border-box;

    position: absolute;
    width: 360px;
    height: 420px;
    left: 540px;
    top: 1224px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}
.Fresh-Coffee {
box-sizing: border-box;

    position: absolute;
    width: 360px;
    height: 420px;
    left: 924px;
    top: 1224px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}
.Increase {
    position: absolute;
        width: 264px;
        height: 72px;
        left: 156px;
        top: 1904px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}